.userJourney{
    display: block;
    background: url("../../../../../../public/pictures/user_journey_page_background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 20vh;
    width: 100%;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60vh;
    width: 100%;
    font-size: 50px;
}

table{
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid black;
    border-radius: 10px;
}

table>tr,th,td{
    padding: 10px 100px;
    border: none;
}

table>tr{
    text-align: left;
}

.footer{
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid rgba(200, 200, 200, 0.8);
    padding: 50px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8));
}