.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

.paper{
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 100%;
    border: 2px solid rgb(89, 115, 240);
    overflow: hidden;
}

.usernameContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
    padding: 5%;
    border: 5px solid grey;
    border-radius: 20px;
    background-color: rgba(225, 225, 225, 0.5);
    align-items: center;
    font-size: 50px;
}

.currentDateAndTime{
    margin: 5%;
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 20px;
    height: 5%;
    padding: 2%;
    text-align: center;
    font-size: 45px;
}

.address{
    margin: 5%;
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 20px;
    height: 5%;
    padding: 2%;
}

.currentStatus{
    height: 27%;
    margin-top: 5%;
    margin-bottom: -10%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
    padding: 2%;
    font-size: larger;
    color: white;
}
