.requestDriver{
    display: flex;
    flex-direction: column;
    justify-content: top;
    background-color: rgba(225,225,225,0.5);
    width: 100%;
    margin: 20px;
    padding: 50px;
    border-radius: 20px;
}

.prefferedDriverContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.inputFields{
    border: 1px solid black;
    border-radius: 20px;
    height: 50px;
    background-color: rgba(255,255,255,0.7);
}

.inputFields:focus{
    border: 0px solid black;
    background-color: rgba(255,255,255,1);
    height: 51px;
}

