.mainContainer{
    display: flex;
    justify-content: center;
}

.main{
    width: 90%;
    height: 100%;
    text-align: center;
    padding: 50px 80px;
    margin-top: -4.2%;
    margin-right: 3%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forms{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.driverLoginLeft{
    text-align: left;
    margin-right: 75px;
    width: 45%;
}

.profilePicture{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profilePictureComponentLeft{
    margin-right: 300px;
}

.profilePictureComponentRight{
    margin-left: 30px;
    margin-bottom: -30px;
}

 .driverLoginRight{
    text-align: left;
    margin-left: 75px;
    width: 45%;
 }

.submitContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.signUpLink{
    text-align: right;
    padding: 10px; 
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.signUpLink:hover{
    text-decoration: underline;
    color: rgb(71, 97, 231);
}

.signUpLink:visited{
    text-decoration: none;
}
