.customerRequests{
    display: flex;
    flex-direction: column;
    justify-content: top;
    background-color: rgba(225,225,225,0.5);
    width: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    overflow-y: scroll;
    scrollbar-color:  #2c84d1 transparent;
    scroll-behavior: smooth;
}

.customerRequests ul{
    width: 80%;
    height: 30%;
    list-style-type: none;
   
}

.customerRequests li{
    background-color: white;
    height: 30%;
    width: 100%;
    margin: 10px;
    font-size: 25px;
    padding: 20px 50px;
    border-radius: 10px;
}